.footer-copyright {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
}
.footer-copyright a {
  text-decoration: none;
  color: #808080;
  font-size: 12px;
}
.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright span {
  margin-top: 5px;
}
.copyright {
  border-top: 1px solid rgba(155, 155, 155, 0.3);
  margin-top: 10px;
  padding: 10px 15px;
}
.copyright img {
  float: left;
}
.copyright span {
  margin: 0;
  float: right;
  font-size: 10px;
  color: #808080;
}
