body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;

	/*background: url(bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: table;*/
	font-family: Montserrat;
}

header {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 60px;
	background: #484848;
	border-bottom: 1.2px solid #B1645C;
}

.logo {
	color: #fff;
	letter-spacing: 1px;
	float: left;
	font-size: 22px;
	line-height: 60px;
	margin: 0 6em;
}

.menu {
	float: right;
	line-height: 30px;
	margin: 0 6em;
}
.menu ul {
	list-style: none;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	padding: 0 20px;
}

#login{
	background: gray;
	width: 100%;
	height: 400px;
}
.login {
	float: left;
	background: #fff;
	width: 250px;
  height: 300px;
	margin: 50px 8.3em;
}

#info {
	width: 100%;
	height: 300px;
	/*background: blue;*/
}
.info {
	padding-top: 25px;
	display: table;
	margin: 0 auto;
}
.info h1 {
	color: #000;
	letter-spacing: 1px;
	text-align: center;
	font-size: 22px;
}
.info h1 span {
	color: #CC4833;
}
.info hr {
	border-top: 1px solid #E64D44;
	width: 120px;
}

.box-images {
	padding-top: 20px;
	margin: 0 auto;
	display: table;
}
.images-info {
	float: left;
	margin: 0 60px;
	text-align: center;
}
.images-info span {
	font-size: 20px;
	font-weight: bold;
}
.images-info p {
	font-size: 11px;
	font-weight: 600;
}
