body {
	margin: 0;
}
input[type=text] {
  width: 200px;
  padding: 5px 35px;
  font-size: 16px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 40px;
  background-image: url('../images/search-button.png');
  background-size: 25px;
  background-position: 7px 1px;
  background-repeat: no-repeat;
}