@import url('https://fonts.googleapis.com/css?family=Oxygen');
body {
  margin: 0;
  padding: 0;
  background: #efefef;
  font-family: "Oxygen", sans-serif;
}

header {
  padding: 7px 13em;
  height: 34px;
  background: black;
}

.logo {
  float: left;
}

.search-box {
  margin-top: 3px;
  float: left;
}
.search-box input {
  width: 100%;
  padding: 5px 5px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  margin-left: 20px;
}
.search-box input::placeholder {
  padding: 0 23px;
  background-image: url("../img/search-button.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0px 50%;
}

.menu-right {
  background: black;
  float: right;
  display: flex;
  align-items: center;
}
.menu-right nav ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu-right nav ul li {
  display: inline-block;
  color: #fff;

}
.menu-right nav ul li a {
  text-decoration: none;
  font-size: 15px;
  padding: 0 10px;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-right img {
  border-radius: 50%;
  margin-left: 35px;
  border: 2px solid green;
}
.menu-right img:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  display: flex;
  align-items: center;
}

.submenu-conteudo {
  display: none;
  margin-top: 66px;
  margin-left: -75px;
  position: absolute;
  background-color:#f1f1f1;
  min-width: 140px;
  border: 0px solid #ccc;
  overflow: auto;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
.submenu-conteudo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #ccc;
}
.submenu-conteudo a:hover {
  background: #ddd;
}
.show-menu {
  display: block;
}

section {
  margin: 0 13em;
  margin-top: 30px;
}

.left {
  float: left;
  width: 23%;
  min-width: 200px;
  padding-right: 25px;
  box-sizing: border-box;
}
#header-profile-background {
  background: black;
  width: 100%;
  height: 80px;
}
.profile-info-box {
  background: #fff;
  width: 100%;
}
.profile-info-box img {
  border-radius: 50%;
  margin: auto;
  display: table;
  margin-top: -40px;
  border: 4px solid #fff;
}
.profile-info-box h4, .profile-info-box h3, .profile-info-box p {
  text-align: center;
  margin: 5px 0;
}
.info-profile p {
  font-size: 14px;
  color: #606060;
  margin-bottom: 20px;
}
.seguindo h4, .seguidores h4 {
  color: #515151;
  font-size: 16px;
  font-weight: normal;
}
.seguindo p, .seguidores p {
  color: #262626;
  font-size: 14px;
  font-weight: bold;
}
.seguindo, .seguidores, .view-profile {
  padding: 5px 0;
  border-top: 1px solid rgba(155, 155, 155, 0.3);
}
.seguindo:hover, .seguidores:hover {
  background: #e8e8e8;
  cursor: pointer;
}
.view-profile {
  padding: 10px 0;
  text-align: center;
}
.view-profile a {
  text-decoration: none;
  color: green;
  font-weight: bold;
  font-size: 12px;
}
.view-profile a:hover {
  text-decoration: underline;
}
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;
  background: white;
}
.footer a {
  text-decoration: none;
  color: #808080;
  font-size: 12px;
}
.footer a:hover {
  text-decoration: underline;
}

.footer span {
  margin-top: 5px;
}
.copyright {
  border-top: 1px solid rgba(155, 155, 155, 0.3);
  margin-top: 10px;
  padding: 10px 15px;
}
.copyright img {
  float: left;
}
.copyright span {
  margin: 0;
  float: right;
  font-size: 10px;
  color: #808080;
}

.middle {
  float: left;
  width: 54%;
  min-width: 400px;
}
.write-new-post {
  padding-right: 17px;
  background: #fff;
  height: 80px;
  border-top: 3px solid green;
  display: flex;
  align-items: center;
}
.write-new-post img{
  border-radius: 50%;
  margin: 0 17px;
}
.write-new-post input {
  width: 100%;
  padding: 10px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.post {
  margin-top: 20px;
  overflow: auto;
  background: #fff;
}
.header-post {
  float: left;
  display: flex;
  align-items: center;
}
.header-post img {
  margin: 10px;
  border-radius: 50%;
}
.header-post img:hover {
  cursor: pointer;
}
.post-info h4, p {
  margin: 0;
}
.post-info p {
  font-size: 11px;
  color: #696969;
}
.post-info h4 {
  font-size: 15px;
}
.post-info h4:hover, .post-info p:hover{
  cursor: pointer;
  text-decoration: underline;
}
.menu-post {
  padding: 10px;
  float: right;
  display: flex;
  align-items: center;
}
.menu-post i {
  color: #696969;
  margin: 10px;
}
.menu-post i:hover {
  cursor: pointer;
}
.content-post {
  float: left;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  padding-bottom: 10px;
}
.content-post span {
  text-align: justify;
  font-size: 15px;
  font-family: sans-serif;
  color: #303030;
}
.analytics-post {
  color: #696969;
  font-size: 14px;
  font-family: sans-serif;
  float: left;
  padding: 15px 15px;
  border-top: 1px solid rgba(155, 155, 155, 0.5);
  box-sizing: border-box;
  width: 100%;
}
.inte:hover {
  cursor: pointer;
  color: black;
}
.curtir {
  float: left;
  padding-right: 20px;
}
.repostar {
  float: left;
  padding-right: 20px;
}
.comentar {
  float: left;
  padding-right: 20px;
}
.views {
  float: right;
}
.show-more-posts {
  border-radius: 2px;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.1);
  margin-top: 20px;
  background: #fff;
}
.show-more-posts p{
  font-family: "HelveticaNeue";
  color: rgb(85,85,85);
  font-size: 15px;
  padding: 10px 15px;
}
.show-more-posts p:hover{
  color: blue;
  cursor: pointer;
}

.right {
  float: left;
  width: 23%;
  min-width: 200px;
  padding-left: 25px;
  box-sizing: border-box;
}
.suggestions {
  background: white;
}
.sugg-menu {
  overflow: auto;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.3);
}
.sugg-menu h3 {
  float: left;
  margin: 0;
  font-size: 15px;
}
.sugg-menu i {
  float: right;
  font-size: 15px;
  color: #696969;
}
.sugg-menu i:hover {
  cursor: pointer;
}
.sugg-user {
  display: flex;
  align-items: center;
}
.user-name-box {
  width: 80%;
  float: left;
  display: flex;
  align-items: center;
}
.user-name-box h4:hover, .user-name-box p:hover, .user-name-box img:hover {
  cursor: pointer;
  text-decoration: underline;
}
.user-name-box img {
  padding: 10px;
  width: 40px;
  border-radius: 50%;
}
.user-name-box h4 {
  margin: 0;
  font-size: 15px;
}
.user-name-box p {
  font-size: 13px;
  color: #696969;
}
.add-user-btn {
  width: 20%;
}
.add-user-btn i{
  margin-right: 15px;
  float: right;
  font-size: 25px;
  color: #696969;
}
.add-user-btn i:hover {
  color: green;
  cursor: pointer;
}
.trending {
  background: white;
}
.trend-header {
  margin-top: 20px;
  overflow: auto;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(155, 155, 155, 0.3);
}
.trend-header h3 {
  float: left;
  margin: 0;
  font-size: 15px;
}
.trend-header i {
  float: right;
  font-size: 15px;
  color: #696969;
}
.trend-header i:hover {
  cursor: pointer;
}
.hashtag {
  padding: 5px 10px;
}
.hashtag a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: green;
}
.hashtag a:hover {
  text-decoration: underline;
}
.hashtag p {
  font-size: 12px;
  font-family: sans-serif;
  color: #808080;
}
.show-more-hastags {
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid rgba(155, 155, 155, 0.3);
}
.show-more-hastags a{
  text-decoration: none;
  font-size: 12px;
  color: #808080;
}
.show-more-hastags a:hover{
  text-decoration: underline;
  color: #808080;
}